$body-background: #e6faff;
$brand-primary: #333;
$primary-font-size: 14pt;
$title-font-style: helvetica;
$primary-font-style: Times;
$mygrey: #262626;

$button-color: #0073ea;

$base-font-size: 18px;
$heading-scale: 8;
